DISCORD_TOKEN=
DATABASE_URL=postgresql://kakuzato:password@localhost:5432/kakuzato_bot
POSTGRES_DB=kakuzato_bot
POSTGRES_USER=kakuzato
POSTGRES_PASSWORD=password
LOG_LEVEL=info
HEALTHCHECK_FILE=/tmp/kakuzato-bot-ready
